header {
	margin: 50px auto 0;
	text-align: center
}

header a {
	text-decoration: none;
	font: 16px Arial;
	line-height: 20px;
	color: white;
	background-color: #ecc420;
	height: 20px;
	padding: 5px 10px;
	border: 1px solid #ecc420;
	border-radius: 5px;
	box-shadow: 0 0 5px #999
}

header a:hover {
	border-color: #f19854;
	background-color: #f19854;
	box-shadow: 0 0 10px #999
}

#info {
	border: solid;
	border-color: #dcdcdc;
	border-width: thin;
	border-left: solid;
	border-left-color: #547387;
	border-left-width: thick;
	padding-left: 18px;
	color: #999999;
}

#board {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	/*凑正方形的奇技淫巧*/
	padding-bottom: 100%;
	border-radius: 5px;
	background-color: #547387
}

#board .cell {
	float: left;
	margin: 4% 0 0 4%;
	padding: 0;
	border-radius: 5px;
	width: 20%;
	/*凑正方形的奇技淫巧*/
	padding-top:  calc(10% - 20px);
	padding-bottom: calc(10% - 20px);
	font-family: Arial;
	font-size: 36px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
	transition: background-color 0.2s;
}

#board .num-no {
	background-color: rgba(238,228,218,0.35);
	width: 20%;
	padding-top: 10%;
	padding-bottom: 10%;
}

#board .num-2 {
	color: #888;
	background-color: #ECE6AA
}

#board .num-4 {
	color: #888;
	background-color: #F8FC89
}

#board .num-8 {
	color: #f9f6f2;
	background-color: #CDC97D
}

#board .num-16 {
	color: #f9f6f2;
	background-color: #f59563
}

#board .num-32 {
	color: #f9f6f2;
	background-color: #f67c5f
}

#board .num-64 {
	color: #f9f6f2;
	background-color: #f65e3b
}

#board .num-128 {
	font-size: 24px;
	color: #f9f6f2;
	background-color: #edcf72
}

#board .num-256 {
	font-size: 24px;
	color: #f9f6f2;
	background-color: #edcc61
}

#board .num-512 {
	font-size: 24px;
	color: #f9f6f2;
	background-color: #edc850
}

#board .num-1024 {
	font-size: 20px;
	color: #f9f6f2;
	background-color: #edc53f
}

#board .num-2048 {
	font-size: 20px;
	color: #f9f6f2;
	background-color: #edc22e
}

#board .num-super {
	font-size: 20px;
	color: #f9f6f2;
	background-color: #3c3a32
}

#message {
	line-height: 30px;
	height: 30px;
	text-align: center;
	margin: 1em auto;
	padding: 0;
	font: 20px Arial;
	font-weight: bold;
	color: red;
	opacity: 0.5;
	display: none
}



#foot {
	float: right;
}